@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: montserrat;
    src: url('/assets/fonts/MontserratRegular.eot') format('embedded-opentype'),
    url('/assets/fonts/MontserratRegular.ttf') format('truetype'),
    url('/assets/fonts/MontserratRegular.woff') format('woff');
}

body{
    font-family: montserrat, sans-serif;
    font-size: 14px;
    letter-spacing: 1.8px;
}

/*Custom Swiper Styles*/
.swiper-pagination {
    @apply !flex !justify-center !items-center !mb-8;
}

.swiper-pagination-bullet {
    @apply !w-2 !h-2 !bg-white !opacity-100;
}

.swiper-pagination-bullet-active {
    @apply !w-3 !h-3 !bg-black !border-2 !border-white;
}

.swiper-button-next:after, .swiper-button-prev:after {
    @apply !text-white !text-4xl;
}

.swiper-button-next:hover:after, .swiper-button-prev:hover:after {
    @apply !opacity-60;
}

.swiper-slide {
    @apply !h-auto;
}

/*Custom React Modal Styles*/
.ReactModal__Body--open{
    overflow-y: hidden;
}
.ReactModal__Overlay{
    transition: all 500ms ease-in-out;
    opacity: 0;
    transform: translateY(-100px);
}
.ReactModal__Overlay--after-open{
    opacity: 1;
    transform: translateY(0);
}
.ReactModal__Overlay--before-close{
    opacity: 0;
    transform: translateY(-100px);
}
